html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto; }

body {
  display: flex;
  margin-bottom: 5em;
  background-color: #75292a;
  color: #120d0a;
  font-family: "Roboto", sans-serif; }

.container {
  margin: auto;
  width: 80%;
  height: 80%;
  border-radius: 3em; }

.makeFixed {
  position: fixed; }

nav.makeFixed {
  background-color: #da9632;
  height: 9%; }

nav a {
  text-decoration: none;
  color: #120d0a; }

nav {
  width: 100%;
  font-family: "Comfortaa", cursive; }

nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-around;
  height: 100%; }

nav ul li {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center; }

nav ul li:hover {
  background-color: #c4872d; }

nav img {
  height: 5em; }

.map {
  height: 500px;
  width: 500px; }

div.mainContent {
  display: flex;
  flex-direction: column;
  background-color: #ff7f7f;
  padding: 5em 3em 1em 3em;
  border-radius: 5em; }

h1, h2, h3 {
  font-family: "Righteous", cursive; }

div.mainContent img {
  width: 75%;
  margin: auto; }

header nav {
  display: flex;
  justify-content: space-between; }
  header nav a:hover {
    background-color: #f05054;
    border-radius: .5em;
    padding: .2em; }

.makeCenter {
  width: 100%;
  display: flex;
  flex-direction: column; }
  .makeCenter div {
    width: 50%;
    margin: 0 auto; }

.menuBorder, form, #answer1, #answer2 {
  border: solid 0.25em #120d0a;
  background-color: #f05054;
  border-radius: .5em; }

form {
  padding: .5em;
  width: 30%; }

#answer1, #answer2 {
  display: none; }

.faqDiv {
  display: flex;
  margin: 2em 0; }
  .faqDiv .btn {
    height: 2em;
    margin-left: 1em;
    align-self: center;
    background-color: #f05054;
    border-radius: 2em; }
