.navBar {
    position: fixed;
    top: 0px;
    background-color: yellow;
    z-index: 9001;
    height: 1.75em;
    border-radius: .2em .2em .2em .2em;
}
.makeFirstLower {
    position: relative;
    top: 1em;
}
.makeLeft {
    float: left;
}
.makeRight {
    float: right;
}
.locationBorders {
    border-style: solid;
    margin: 1em;
    padding: 1em;
}
body {
    background-color: red;
}
.container {

}
div[class="navBar"]>:visited {
    color: black;
}
div[class="navBar"]>a {
    text-decoration: none;
    background-color: #ff8a16;
    margin: .5em;
    padding: .2em;
    border-radius: 30%;
    font-size: larger;
}
[class*="Menu"] {
    background-color: #ff8a16;
}
#indexContainer {
    flex: 1;
    align-items: center;
}