.navBar {
    position: fixed;
    top: 0px;
    background-color: yellow;
    z-index: 9001;
    height: 1.75em;
    width: 100%;
    border-radius: .2em .2em .2em .2em;
}
.makeFirstLower {
    position: relative;
    top: 1em;
}
.makeLeft {

}
.makeRight {

}
.locationBorders {
    border-style: solid;
    margin: 1em;
    padding: 1em;
}
body {
    background-color: red;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
div[class="navBar"]>:visited {
    color: black;
}
div[class="navBar"]>a {
    text-decoration: none;
    background-color: #ff8a16;
    margin: .5em;
    padding: .2em;
    border-radius: 30%;
    font-size: larger;
    align-self: center;
}
[class*="Menu"] {
    background-color: #ff8a16;
}
#indexContainer {

}
table {
    text-align: center;border-collapse: collapse;
}
td,th{
    border-style: solid;
    padding: .2em;
}

table p {
    margin: 0;
}
table caption {
    font-size: xx-large;
    font-weight: bold;
}
.locationMakeCenter {
    align-self: center;
}